body {
    background-color: rgb(250, 247, 100);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 50px;
    padding: 25px;
    background-color: white;
    color: orange;
    border: solid 3px rgb(233, 97, 97);
    box-shadow: 5px 5px 5px;
}

.large-font {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 300%;
}

.start-button {
    padding: 10px;
    margin-top: 25px;
    background-color: rgb(241, 129, 0);
    color: white;
    font-size: 200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    width: 450px;
    margin-top: 50px;
    background-color: white;
    border: solid 8px rgb(240, 91, 91);
    border-radius: 10px;
    box-shadow: 5px 5px 5px;

}

.large-font-word-blanks {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    font-size: 250%;
    padding: 10px;
    background-color: rgb(236, 116, 116);
    border: solid 3px white;
    border-radius: 10px;
}


.card-results {
    display: flex;
    flex-direction: row-reverse;
    height: 200px;
    width: 400px;
    justify-content: space-around;
    font-size: 125%;
    background-color: rgb(248, 88, 60);
    padding: 10px;
    border: solid 2px black;
    margin: 10px;
}

.card-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.timer-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-size: 100%;
}

.large-font-timer-count {
    font-size: 400%;
    height: auto;
    background-color: rgb(122, 3, 3);
    color: rgb(247, 165, 140);
    border: solid 3px black;
}

h3 {
    color: rgb(122, 3, 3);
    margin-top: 25px;
}

.win-loss-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(255, 255, 107);
    padding: 8px;
    border: solid 1px black;
    margin: 5px

}

.wins-losses-text {
    display: flex; 
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    padding: 5px;
}

.win-tally {
    background-color: rgb(51, 238, 51);
    margin: 5px;
    border: solid 1px black;
}

.loss-tally {
    background-color: rgb(252, 56, 56);
    margin: 5px;
    border: solid 1px black;
}

